extends layout

block content
  h1.title Overall Page
  .container
    nav
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a#agegroup-chart(href='#') By Age
        li
          a#gender-chart(href='#') By Gender
        li
          a#ethinicity-chart(href='#') By Ethnicity

    .row#chart-container
      