extend layout

block content
  #index-banner.section.section__hero(style="background: url(https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?q=80&fm=jpg&s=b5bc5b301b282fd18c85d9bb6ef941e6); background-size: 100%; color: white; font-weight: 1.3em;")
    .container
      .row
        .col.s12
          h1.center-align Electroscpe
          h4.center-align  A microscope for Myanmar elections.
          h4.center-align  Open Source Elections monitoring & Analytics Platform
        .col.s12.m5.gorilla

  #index-banner.section.section__hero.red.white-text
    .container
      .row
        .col.s12
          h1.center-align *Disclaimer
          h5.center-align The data in electroscope comes from various third-party sources, and we don't guarantee the accuracy of those data. So, please be careful with using our charts and graphs in publications. Candidates Information for 2015 are from Mae Pay Soh API. For 2010, it is from myanmarelections.org website.
        .col.s12.m5.gorilla

  #index-banner.section.section__hero
    .container
      .row
        .col.s12
          h1.center-align The Team Behind
          h5.center-align  Here comes the team palartar.
        .col.s12.m5.gorilla
      .row.center
        .row
          .col.s4
            img.circle(width="160px", height="160px", src='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/12109298_10207772868622593_8739636143523740564_n.jpg?oh=bc5ced419448556a307d4367cca41bba&oe=56988C11&__gda__=1452143623_64b20fce43711df065fdd61ecef8ad51')
            h6 Thura Hlaing - The Counts  Man
            a(href='http://github.com/trhura')@trhura

          .col.s4
            img.circle(width="160px", height="160px", src='https://scontent-sin1-1.xx.fbcdn.net/hphotos-xft1/v/l/t1.0-0/p206x206/11987017_977224579002661_8943263572792697236_n.jpg?oh=72e24489f6de27fb52c767f84135f4f7&oe=569472F1')
            h6 Thuya Myo Nyunt - YooBro Man
            a(href='http://github.com/greenlikeorange')@greenlikeorange

          .col.s4
            img.circle(width="160px", height="160px", src='https://scontent-sin1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/282827_10200947221575431_1702767196_n.jpg?oh=4b02f4d9b89f27cc11d97e715eb41a45&oe=56A2332C')
            h6 Pwin Phyu Kyaw - The Materialist
            a(href='http://github.com/DragonVirus')@DragonVirus

        .row
          .col.s4.offset-s2
            img.circle(width="160px", height="160px", src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xta1/v/t1.0-1/p160x160/12112423_1121389427875911_1538435757088496412_n.jpg?oh=a70ff47fa4e87c41281e77f71d194438&oe=56D0B511&__gda__=1452574377_83fdf1a2efa73efbab9317d2efe88b62')
            h6 Chan Myae San Hlaing - Mr. Charts
            a(href='http://github.com/dreamingblackcat')@dreamingblackcat

          .col.s4
            img.circle(width="160px", height="160px", src='https://scontent-sin1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/10347771_1026046220754552_5259017066205785533_n.jpg?oh=a56e4ba14da9bdb347686d5ab31ce951&oe=568DAE86')
            h6 Thaw Lwin Htun - The Rulebreaker
            a(href='http://github.com/suthaw')@suthaw


  #index-banner.section.section__hero.purple.darken-2.white-text
    .container
      .row
        .col.s12
          h1.center-align History
          h5.center-align Long long ago in a hackathon far, far away - there was a team which thinks differently and dares not care about the rules. They started working on Electroscope as to illume the dull hackathon. And when the judgement day finally comes, they boldly presented their app, and the judges were very impressed with it. The whole room was filled with claps & cheers after their demonstration.
          br
          h5.center-align However, they didn't win any prize as it violates the hackathon rules, and the team went broke and lives on the street now.
        .col.s12.m5.gorilla

  #index-banner.section.section__hero
    .container
      .row
        .col.s12
          h1.center-align Contact
          h5.center-align Electroscope is now maintained by Thuya Myo Nyunt. Please, contact him for any question or press queries.
          h5.center-align For bugs and issues, please report on github.
        .col.s12.m5.gorilla
      .row.center
        a#cta__main.btn.btn-large(href='https://github.com/Electroscope/electroscope') See The Github Repo »
