extend layout

block content
  nav
    .nav-wrapper.blue-grey.darken-2#title-nav
      p ဒေါ်အောင်ဆန်းစုကြည်

  .row#candidate-details
    .col.s12.m4#candidate-info
      .card-panel
        h2.panel-title ကိုယ်ရေးအကျဉ်း
        .candidate-profile
          .avatar.circle(style="background:url(https://storage.googleapis.com/staticassets/candidate-photos/Scan_B_20150813_0046.jpg) center; background-size:contain;")
          ဒေါ်အောင်ဆန်းစုကြည်
        .horz-party-info
          a(href="/party/details")
            img(src="https://storage.googleapis.com/staticassets/flags-and-logos/40-flag.png" class="party-flag")
            p အမျိုးသားဒီမိုကရေစီအဖွဲ့ချုပ်ပါတီ
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col.s12.m8#candidate-history
      .card-panel
        h2.panel-title နောက်ခံသမိုင်း
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .card-panel
        h2.panel-title သတင်းများ
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .card-panel#rival-candidates 
        h2.panel-title Rival Candidates
        .col.s12.m3
          .candidate-profile
            a(href="#")
              .avatar.circle(style="background:url(https://storage.googleapis.com/staticassets/candidate-photos/Scan_B_20150813_0046.jpg) center; background-size:contain;") 
            ဒေါ်အောင်ဆန်းစုကြည်
        .col.s12.m3
          .candidate-profile
            a(href="#")
              .avatar.circle(style="background:url(https://storage.googleapis.com/staticassets/candidate-photos/Scan_B_20150813_0046.jpg) center; background-size:contain;") 
            ဒေါ်အောင်ဆန်းစုကြည်
        .col.s12.m3
          .candidate-profile
            a(href="#")
              .avatar.circle(style="background:url(https://storage.googleapis.com/staticassets/candidate-photos/Scan_B_20150813_0046.jpg) center; background-size:contain;") 
            ဒေါ်အောင်ဆန်းစုကြည်
        .col.s12.m3
          .candidate-profile
            a(href="#")
              .avatar.circle(style="background:url(https://storage.googleapis.com/staticassets/candidate-photos/Scan_B_20150813_0046.jpg) center; background-size:contain;") 
            ဒေါ်အောင်ဆန်းစုကြည်
            