doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/#{page_name}.css')
  body
    main
      section.section.section-one.white-text
        br
        .row
          .col.s4
            center
              #mandalay-map
          .col.s8
            center#vs
              h3.title Candidates percentage
              h5.vs [Candidate one] | [Candidate 2]
      section.icon-section.white-text
      section.section.section-two.white-text
        .row
          .col.s12
            h1 Section 2

    script(src="/js/#{page_name}/app.min.js")