doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

    block style

    link(rel='stylesheet', href='/css/style.css')
  body
    header
      div(class="container")
        ul#collapse-sidenav.side-nav.fixed.blue-grey.darken-1.white-text.menu-collapse.enable-collapse
          li.logo
            a#logo-container.brand-logo(href='/') 
              i.material-icons assessment 
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/candidates')
              i.material-icons perm_identity
              span.nav-menu-title Candidates
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/overall')
              i.material-icons android
              span.nav-menu-title Overall
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/2015/parties')
              i.material-icons android
              span.nav-menu-title Parties
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/2015/states')
              i.material-icons android
              span.nav-menu-title states
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/2015/parliments')
              i.material-icons android
              span.nav-menu-title Parliments
    main
      block content

    block script
    script(src="/js/#{page_name}/app.min.js")


