doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

    block style

    link(rel='stylesheet', href='/css/style.css')
  body
    header
      div(class="container")
        ul#collapse-sidenav.side-nav.fixed.blue-grey.darken-1.white-text.menu-collapse
          li.logo
            a#logo-container.brand-logo(href='http://materializecss.com/') 
              i.material-icons assessment 
          li.bold
            a.waves-effect.waves-teal.nav-menu(href='/')
              i.material-icons perm_identity
              span.nav-menu-title Candidates  
    main
      block content

    block script
    script(src="/js/#{page_name}/app.min.js")


