extends layout

block content

  .container
    .row
      .col.s6
        .card.blue-grey.darken-1
          .card-content.white-text
            span.card-title Candidates According To Age Group
            canvas#agegroup-canvas(width="300px", height="300px")
          
      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Candidate Gender Ratio
            #gender-bar
            canvas#gender-canvas(width="300px", height="300px")