extends layout

block content

  .container
    .row
      .col.s12
        ul.tabs.blue-grey.lighten-1.chart-nav
          li#agegroup-chart.tab.col.s4.active(href='#agegroup')
            a By Age Group
          li#gender-chart.tab.col.s4(href='#gender')
            a By Gender
          //- li#ethnicity-chart.tab.col.s4(href='#ethnicity')
          //-   | By Ethnicity
          //- li#religion-chart.tab.col.s4(href='#religion')
          //-   | By Ethnicity

    
      #agegroup
        canvas#agegroup-canvas(width="600px", height="400px")
      #gender
        #gender-bar
