extend layout

block content
  nav
    .nav-wrapper.blue-grey.darken-2#title-nav
      p အမျိုးသားဒီမိုကရေစီအဖွဲ့ချုပ်ပါတီ
  .row#party-details
    .col.s12.m5
      .card-panel
        .content-center
          img(src="https://storage.googleapis.com/staticassets/flags-and-logos/40-flag.png")
          p အမျိုးသားဒီမိုကရေစီအဖွဲ့ချုပ်ပါတီ
          p [National League for Democracy]
        .party-info
          table.striped
            tr
              th Abbreviation
              td NLD
            tr
              th Approved Party Number
              td အမှတ်စဉ်( ၄၇ )
            tr
              th Member Count
              td ၂၁ ဦး
            tr
              th Region
              td ပြည်ထောင်စုတစ်ဝန်းလုံး
            tr
              th Leadership
              td 
                ul
                  li ဦးတင်ဦး
                  li ဒေါ်အောင်ဆန်းစုကြည်
            tr
              th Chairman
              td 
                ul
                  li ဒေါ်အောင်ဆန်းစုကြည်
                  li ဦးဉာဏ်ဝင်း
            tr
              th Establishment Date
              td 25-11-2011
            tr
              th Establishment Approval Date
              td 12-12-2011
            tr
              th Registration Application Date
              td 23-12-2011
            tr
              th Registration Approval Date
              td 5-1-2012
            tr 
              th Headquarters
              td အမှတ်(၉၇/ခ)၊အနောက်ရွှေဂုံတိုင်လမ်း၊ ဗဟန်း မြို့နယ် ၊ ရန်ကုန်တိုင်းဒေသကြီး။
            tr 
              th Contact
              td 
                ul
                  li ၀၉-၅၁၅၉၄၅၇ (PSO)
                  li ၀၉-၅၁၇၉၂၄၇(ဦးဉာဏ်ဝင်း)
                  li ၀၁-၅၅၅၁၅၆ (ရုံးဖုန်း/ဖက်စ်)
          div.content-center        
            a.waves-effect.waves-light.btn(href="#") Party Policy


    .col.s12.m7
      .card-panel
        h2.panel-title ကိုယ်စားလှယ်လောင်းများ
        .row
          .candidate-count.col.s4.content-center
            .circle.red 
              .circle_inner
                .circle_wrapper
                  .circle_content 129
            p အမျိုးသားလွှတ်တော်
          .candidate-count.col.s4.content-center
            .circle.blue
              .circle_inner
                .circle_wrapper
                  .circle_content 314
            p ပြည်သူ့လွှတ်တော်
          .candidate-count.col.s4.content-center
            .circle.green 
              .circle_inner
                .circle_wrapper
                  .circle_content 642
            p တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်

