

.row
  .col.s12.m4
    .collection
      .collection-item(data-state="['MMR017']", data-my-name="ဧရာဝတီ")
        | Ayeyarwady
      .collection-item(data-code="['MMR007', 'MMR008']",data-my-name="ပဲခူး အရှေ့ပိုင်း")
        | Bago
      .collection-item
        | Chin
      .collection-item
        | Kachin
      .collection-item
        | Kayah
      .collection-item
        | Kayin
      .collection-item
        | Magway
      .collection-item
        | Mandalay
      .collection-item
        | Mon
      .collection-item
        | Naypyitaw  Council
      .collection-item
        | Rakhine
      .collection-item
        | Sagaing
      .collection-item
        | Shan
      .collection-item
        | Tanintharyi
      .collection-item
        | Yangon

