header, main, footer {
    padding-left: 240px;
}

.side-nav .logo {
	text-align: center;
	padding: 20px 0px;
}

#logo-container .material-icons {
	font-size: 60px !important;
}	

.side-nav li a {
	color: #fff !important;
}

.election-year a {
	color: #fff !important;
}

.election-year .indicator {
	background: #f44336
}

.candidate-list img.party-flag {
	width: 50px;
	float: left;
	margin-right: 5px;
}

#title-nav p {
	text-align: center;
	margin-top: 0px;
}

.activator {
	cursor: pointer;
}

.sub-title {
	text-align: center;
	font-size: 20px;
}

.card-panel .panel-title {
	font-size: 20px;
	margin-top: 0px;
}

.candidate-list .card-reveal .card-title {
	font-size: 16px;
}

.candidate-list .card-reveal .btn {
	width: 100%;
}

.candidate-profile {
	text-align: center;
}

#rival-candidates {
	overflow: hidden;
}

.avatar {
	width: 100px;
	height: 100px;
	margin: auto;
}

/* Media Query */
@media only screen and (max-width: 992px) {
	header, main, footer {
    	padding-left: 0px;
	}
}