header, main, footer {
    padding-left: 80px;
}

/* Menu */
.menu-collapse {
	width: 80px !important;
}

.nav-menu-title {
	margin-left: 20px;
	position: relative;
	top: -8px;
	font-size: 16px;
}

.menu-collapse .nav-menu-title {
	display:none;
}

.enable-collapse {
	-webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
	transition: width 0.6s;
}

.menu-expand {
	width: 240px;
}

.nav-menu .material-icons {
	font-size: 30px;
}

.side-nav li {
	padding:0px 10px;
}

.side-nav .logo {
	text-align: center;
	padding: 20px 0px;
}

.content-center {
	text-align: center;
}

.h-overflow {
	overflow: hidden;
}

#logo-container .material-icons {
	font-size: 60px !important;
}	

.side-nav li a {
	color: #fff !important;
}

.election-year a {
	color: #fff !important;
}

.election-year .indicator {
	background: #f44336
}

.candidate-list img.party-flag {
	width: 50px;
	float: left;
	margin-right: 5px;
}

#title-nav p {
	text-align: center;
	margin-top: 0px;
}

.activator {
	cursor: pointer;
}

.sub-title {
	text-align: center;
	font-size: 20px;
}

.card-panel .panel-title {
	font-size: 20px;
	margin-top: 0px;
}

.candidate-list .card-reveal .card-title {
	font-size: 16px;
}

.candidate-list .card-reveal .btn {
	width: 100%;
}

.candidate-profile {
	text-align: center;
}

#rival-candidates {
	overflow: hidden;
}

.avatar {
	width: 100px;
	height: 100px;
	margin: auto;
}

/* CSS Responsive Circle with Vertical Align */
/* http://codepen.io/cbracco/pen/qnduh */
.stat-count.circle {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
  text-align: center;
  width: 80%
}

.stat-count.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  content: "";
}

.stat-count .circle_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stat-count .circle_wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.stat-count .circle_content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.horz-party-info {
	overflow: hidden;
	margin-top: 15px;
}

.horz-party-info img {
	width: 50px;
	float: left;
	margin-right: 15px;
}

.horz-party-info p {
	float: left;
	margin-top: 4px;
}

.chart-legend {
	float: left;
    width: 30px;
    height: 15px;
    margin-right: 7px;
    margin-top: 3px;
}

.horizontal-legend {
	overflow: hidden;
	margin-left: 70px;
}

.horizontal-legend ul li {
	display: inline-block;
	float:left;
	margin-right: 15px;
}

/* Icon Class */
.electroscope-icons {
 	height: 45px;
 	margin-top: 5px;
}

.electroscope-icons .regional-parliament {
	background: url(../img/icons/parliament.svg) center no-repeat;
}

/* Media Query */
@media only screen and (max-width: 992px) {
	header, main, footer {
    	padding-left: 0px;
	}
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 230px;
  padding: 10px;
  position: absolute;
  text-align: center; 
  z-index: 10;
}

.hidden{
	display:none;
}


