extends ../layout

block style
  style.
    .content-center {
      margin: 0 10px;
      position: relative;
    }

block content

  .main
    .row
      .col.s12
        div.input-field
          select.party_list
    .row
      .col.s4
        .card-panel.count-card.content-center.blue.white-text
          h2.panel-title House of Nationalities
          h1#upper_house_count.candidate-count 0
      .col.s4
        .card-panel.count-card.content-center.green.white-text
          h2.panel-title House of Representatives
          h1#lower_house_count.candidate-count 0
      .col.s4
        .card-panel.count-card.content-center.orange.white-text
          h2.panel-title State and Region Assemblies
          h1#state_region_count.candidate-count 0
    .row
      .col.s12.m6
        .row
          .col.s12
            .card
              .card-action.brown.darken-2.white-text
                h5 Candidates by Region
              .card-content
                .content-center
                  #states_choropleth
          .col.s12
            .card.blue.darken-2.white-text
              .card-action.blue.darken-4
                h5 Gender Ratio
              .card-content
                .content-center
                  canvas#gender-canvas
                  #gender-legend.horizontal-legend
          .col.s12
            .card.green.darken-4.white-text
              .card-action.green.darken-2
                h5 Ethnicity Ratio
              .card-content
                .content-center
                  //- .chart-wrapper.col.s9.ethnicity-canvas.content-center
                  canvas#ethnicity-canvas
                  #ethnicity-legend.horizontal-legend
      .col.s12.m6
        .row
          .col.s12
            .card.teal.darken-4.white-text
              .card-action.teal.darken-2
                h5 Graduated Ratio
              .card-content
                .content-center
                  canvas#bwaeya-canvas
                  #bwaeya-legend.horizontal-legend
          .col.s12
            .card.light-blue.darken-2.white-text
              .card-action.light-blue
                h5 Age Groups
              .card-content
                .content-center
                  canvas#agegroup-canvas
                  #agegroup-legend.horizontal-legend
          .col.s12
            .card.brown.darken-2.white-text
              .card-action.brown
                h5 Religion Ratio
              .card-content
                .content-center
                  canvas#religion-canvas
                  #religion-legend.horizontal-legend

