extends ../layout

block content

  .container
    .row
      .col.s10
  .container
    nav
      .nav-wrapper
        a.center You can see the analysis of candidates on various perspective.
    .row
      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Agegroups
            canvas#agegroup-canvas(width="300px", height="300px")

      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Gender Ratio
            canvas#gender-canvas(width="300px", height="300px")

    .row
      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Religion Ratio
            canvas#religion-canvas(width="300px", height="300px")
      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Ethnicity Ratio
            canvas#ethnicity-canvas(width="300px", height="300px")
    .row
      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title BwaeYa Ratio
            canvas#bwaeya-canvas(width="300px", height="300px")

      .col.s6
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title By Parliament
            canvas#parliament-canvas(width="300px", height="300px")
