extends ../layout

block content

  .container
    .row
      .col.s10

  .container
    nav
      .nav-wrapper.content-center
        a Analysis of candidates on various perspective.
    .row
      .col.s12
        .card-panel
          h2.panel-title Age Groups
          .row
            .chart-wrapper.col.s6
              canvas#agegroup-canvas(width="300px", height="300px")
            .col.s6
              #agegroup-legend

      .col.s12
        .card-panel
          h2.panel-title Gender Ratio
          .row
            .chart-wrapper.col.s6
              canvas#gender-canvas(width="300px", height="300px")
            .col.s6
              #gender-legend

    .row
      .col.s12
        .card-panel
          h2.panel-title Religion Ratio
          .row
            .chart-wrapper.col.s6
              canvas#religion-canvas(width="300px", height="300px")
            .col.s6
              #religion-legend

      .col.s12
        .card-panel
          h2.panel-title Ethnicity Ratio
          .row
            .chart-wrapper.col.s6
              canvas#ethnicity-canvas(width="300px", height="300px")
            .col.s6
              #ethnicity-legend

    .row
      .col.s12
        .card-panel
          h2.panel-title Graduated Ratio
          .row
            .chart-wrapper.col.s6
              canvas#bwaeya-canvas(width="300px", height="300px")
            .col.s6
              #bwaeya-legend

      .col.s12
        .card-panel
          h2.panel-title By Parliament
          .row
            .chart-wrapper.col.s6
              canvas#parliament-canvas(width="300px", height="300px")
            .col.s6
              #parliament-legend
