extends ../layout

block content

  .main
    nav.blue-grey.darken-1
      .nav-wrapper.content-center
        a Analysis of candidates on various perspective.
    .row
      .col.s12
        div.input-field.col.s11
          select.party_list
    .row
      .col.s4
        .card-panel.count-card.content-center.blue.white-text
          h2.panel-title Upper House
          p#upper_house_count.candidate-count 0
      .col.s4
        .card-panel.count-card.content-center.green.white-text
          h2.panel-title Lower House
          p#lower_house_count.candidate-count 0
      .col.s4
        .card-panel.count-card.content-center.orange.white-text
          h2.panel-title States/Region Parliament
          p#state_region_count.candidate-count 0
    .row 
      //FIRST COLUMN
      .col.s12.m6
        //Region Cholomap
        .card-panel.cho_map
          h2.panel-title Candidates by Region
          #states_choropleth
        //Gender
        .card-panel
          h2.panel-title Gender Ratio
          .row
            .chart-wrapper.col.s9.gender-canvas
              canvas#gender-canvas(width="300px", height="300px")
            .col.s3
              #gender-legend
        .card-panel
          h2.panel-title Ethnicity Ratio
          .row
            .chart-wrapper.col.s9.ethnicity-canvas
              canvas#ethnicity-canvas(width="300px", height="300px")
            .col.s3
              #ethnicity-legend
      //SECOND COLUMN
      .col.s12.m6
        //Graduated
        .card-panel
          h2.panel-title Graduated Ratio
          .row
            .chart-wrapper.col.s9.bwaeya-canvas
              canvas#bwaeya-canvas(width="300px", height="300px")
            .col.s3
              #bwaeya-legend
        //Age
        .card-panel
          h2.panel-title Age Groups
          .row
            .chart-wrapper.col.s9.agegroup-canvas
              canvas#agegroup-canvas(width="300px", height="300px")
        //Religion
        .card-panel
          h2.panel-title Religion Ratio
          .row
            .chart-wrapper.col.s9.religion-canvas
              canvas#religion-canvas(width="300px", height="300px")
            .col.s3
              #religion-legend
        //.card-panel
          //h2.panel-title By Parliament
          //.row
            //.chart-wrapper.col.s9.parliament-canvas
              //canvas#parliament-canvas(width="300px", height="300px")
            //.col.s12
              //#parliament-legend
              
