extends ../layout

block content

  .container
    nav
      .nav-wrapper.content-center
        a Analysis of candidates on various perspective.
    .row
      .col.s12
        .card-panel
          h2.panel-title Candidates Counts By Parliament
          .row
            .col.s12.content-center
              canvas#candidatecount-canvas(height="300px", width="800px")
            .col.s12
              #candidatecount-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Candidate Counts By Gender
          .row
            .col.s12.content-center
              canvas#gendercount-canvas(height="300px", width="800px")
            .col.s12
              #gendercount-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Candidate Counts By State / Region
          .row
            .col.s12.content-center
              canvas#stateregioncount-canvas(height="300px", width="800px")
            .col.s12
              #state-region-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Candidate Counts By Burmese/Non-Burmese
          .row
            .col.s12.content-center
              canvas#ethnicitycount-canvas(height="300px", width="800px")
            .col.s12
              #burmese-none-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Candidate Counts By Agegroup Under/ Over 50
          .row
            .col.s12.content-center
              canvas#agegroupcount-canvas(height="300px", width="800px")
            .col.s12
              #candidate-count-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Candidate Counts With/Without Degree
          .row
            .col.s12.content-center
              canvas#bwaeya-canvas(height="300px", width="800px")
            .col.s12
              #education-legend.horizontal-legend
