extends ../layout

block style
  style.
    .content-center {
      margin: 0 10px;
      position: relative;
    }

block content
  .row
    .col.s3
      .card
        .card-action
          h5 Party Candidates
        .card-content
          p NLD and USDP have twice as many candidates as other parties and also a higher graduated candidate ratio.
          br
          p As expected, the ethnic parties and independent candidates are more active in regions, and has more non-Burmese representatives.
          br
          p It is worth noting that NLD has more female representatives and much younger candidates.

    .col.s9
      .card
        .card-action
          h5 Candidates Counts By Parliament
        .card-content
          .content-center
            canvas#candidatecount-canvas
            #candidatecount-legend.horizontal-legend
  .row
    .col.s6
      .card.blue-grey.darken-2.white-text
        .card-action.blue-grey.darken-4
          h5 Candidate Counts By Gender
        .card-content
          .content-center
            canvas#gendercount-canvas
            #gendercount-legend.horizontal-legend

    .col.s6
      .card.green.white-text
        .card-action.green.darken-2
          h5 Candidate Counts By State / Region
        .card-content
          .content-center
            canvas#stateregioncount-canvas
            #state-region-legend.horizontal-legend

    .col.s6
      .card.cyan.white-text
        .card-action.cyan.darken-2
          h5 Candidate Counts With/Without Degree
        .card-content
          .content-center
            canvas#bwaeya-canvas
            #education-legend.horizontal-legend

    .col.s6
      .card.brown.white-text
        .card-action.brown.darken-2
          h5 Candidate Counts By Burmese/Non-Burmese
        .card-content
          .content-center
            canvas#ethnicitycount-canvas
            #burmese-none-legend.horizontal-legend

    .col.s6
      .card.blue-grey.white-text
        .card-action.blue-grey.darken-2
          h5 Candidate Counts By Agegroup Under/Over 50
        .card-content
          .content-center
            canvas#agegroupcount-canvas
            #candidate-count-legend.horizontal-legend
