extends ../layout
block content
	.row
		.col.s8
			h3 Regional
			canvas#parties-region(style="width:400px;height:100px;")
	
	.row
		.col.s8
			h3 AMH
			canvas#parties-amh(style="width:400px;height:100px;")
	
	.row
		.col.s8
			h3 PTH
			canvas#parties-pth(style="width:400px;height:100px;")