extends ../layout
block content
	.row
		.col.s11
			p.range-field
				input(type="range", id="party_limit",min=40,max=80 )
	.row
		.col.s8
			.row
				.col.s12
					h3 တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်
					canvas#parties-region(style="width:400px;height:100px;")
			.row
				.col.s12
					h3 အမျိုးသားလွှတ်တော်
					canvas#parties-amh(style="width:400px;height:100px;")
			.row
				.col.s12
					h3 ပြည်သူ့လွှတ်တော်
					canvas#parties-pth(style="width:400px;height:100px;")
		.col.s3
			div.collection#party_names
				
				
			