extends ../layout

block content
  .row
    .col.s4
      .collection.state-list
        a.collection-item.state-list-item.waves-effect.waves-teal.active
          | Ayeyarwady
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Bago
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Chin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kachin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kayah
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kayin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Magway
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Mandalay
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Mon
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Naypyitaw  Council
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Rakhine
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Sagaing
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Shan
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Tanintharyi
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Yangon

    .col.s4
      #state_map

      #state-details
