extends ../layout

block content

  main
    .row
      .col.s10
  main
    nav
      .nav-wrapper.content-center
        a Analysis of candidates composition of parties by state.
    .row
      .col.s6
        .input-field
        select.browser-default.state-list-select
          option(value='Ayeyarwady', data-st_code="MMR017", data-dt-count="6", data-tsp-count="26", data-eligible-pop="4040022", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/e/ec/Flag_of_Ayeyarwaddy_Division.svg", data-rgh-seats="54") Ayeyarwady
          option(value='Bago_East', data-st_code="MMR007", data-dt-count="4 (total of Bago)", data-tsp-count="28 (total of Bago)", data-eligible-pop="3224090(total of Bago)", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/1/1c/Flag_of_Bago_Division.svg", data-rgh-seats="57") Bago East
          option(value='Bago_West', data-st_code="MMR008", data-dt-count="4 (total of Bago)", data-tsp-count="28 (total of Bago)", data-eligible-pop="3224090(total of Bago)", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/1/1c/Flag_of_Bago_Division.svg", data-rgh-seats="57") Bago West
          option(value='Chin', data-st_code="MMR004", data-dt-count="3", data-tsp-count="9", data-eligible-pop="257686", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/1/16/Flag_of_Chin_State.svg", data-rgh-seats="18") Chin
          option(value='Kachin', data-st_code="MMR001", data-dt-count="4", data-tsp-count="18", data-eligible-pop="1051258", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/e/ee/Flag_of_Kachin_State.svg", data-rgh-seats="38") Kachin
          option(value='Kayah', data-st_code="MMR002", data-dt-count="2", data-tsp-count="7", data-eligible-pop="170503", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/d/d0/Flag_of_Kayah_State.svg", data-rgh-seats="15" ) Kayah
          option(value='Kayin', data-st_code="MMR003", data-dt-count="3", data-tsp-count="7", data-eligible-pop="884110", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/9/9e/Flag_of_Kayin_State.svg", data-rgh-seats="17") Kayin
          option(value='Magway', data-st_code="MMR009", data-dt-count="5", data-tsp-count="25", data-eligible-pop="2667883", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/1/13/Flag_of_Magway_Division.svg", data-rgh-seats="51") Magway
          option(value='Mandalay', data-st_code="MMR010", data-dt-count="7", data-tsp-count="29", data-eligible-pop="4230345", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/0/02/Flag_of_Mandalay_Division.svg", selected="", data-rgh-seats="57") Mandalay
          option(value='Mon', data-st_code="MMR011", data-dt-count="2", data-tsp-count="10", data-eligible-pop="1300367", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/2/26/Flag_of_Mon_State.svg", data-rgh-seats="23") Mon
          option(value='Naypyitaw_Council', data-st_code="MMR018", data-dt-count="2", data-tsp-count="8", data-eligible-pop="1,158,367", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/8/8c/Flag_of_Myanmar.svg", data-rgh-seats="-") Naypyitaw Council
          option(value='Rakhine', data-st_code="MMR012", data-dt-count="4", data-tsp-count="17", data-eligible-pop="1328392", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_Rakhine.svg", data-rgh-seats="35") Rakhine
          option(value='Sagaing', data-st_code="MMR005", data-dt-count="8", data-tsp-count="34", data-eligible-pop="3506301", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/1/12/Flag_of_Sagaing_Division.svg", data-rgh-seats="76") Sagaing
          option(value='Shan_East', data-st_code="MMR016", data-dt-count="12 (total of Shan)", data-tsp-count="40 (total of Shan)", data-eligible-pop="3611343( total of Shan)", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/b/b3/Flag_of_the_Shan_State.svg", data-rgh-seats="107") Shan East
          option(value='Shan_North', data-st_code="MMR015", data-dt-count="12 (total of Shan)", data-tsp-count="40 (total of Shan)", data-eligible-pop="3611343( total of Shan)", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/b/b3/Flag_of_the_Shan_State.svg", data-rgh-seats="107") Shan North
          option(value='Shan_South', data-st_code="MMR014", data-dt-count="12 (total of Shan)", data-tsp-count="40 (total of Shan)", data-eligible-pop="3611343( total of Shan)", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/b/b3/Flag_of_the_Shan_State.svg", data-rgh-seats="107") Shan South
          option(value='Yangon', data-st_code="MMR013", data-dt-count="4", data-tsp-count="45", data-eligible-pop="5228050", data-flag_link="https://upload.wikimedia.org/wikipedia/commons/2/29/Flag_of_Yangon_Division.svg", data-rgh-seats="31") Yangon

      .col.s6


    .row
      .col.s4
        #state_map
      .col.s6
        .row
          .card.blue-grey.darken-1
            .card-content.white-text
              .card-image
                    img.state-flag(src='https://upload.wikimedia.org/wikipedia/commons/0/02/Flag_of_Mandalay_Division.svg', heigth="150px")
                    span.card-title.state-name Mandalay
              br
              .row
                .col.s6
                  | Population (Above Age 18)
                .col.s6
                  span.eligible-pop 4230345
              .row
                .col.s6
                  | Districts
                .col.s6
                  span.dt-count 7
              .row
                .col.s6
                  | Townships
                .col.s6
                  span.tsp-count 29

    .row
      #legislature_counts
        .col.s4
          .candidate-count.col.s6.content-center#AMH-canvas
          .candidate-count.col.s6.content-right#AMH-legends
          p.content-center House of Nationalities
        .col.s4
          .candidate-count.col.s6.content-center#PTH-canvas
          .candidate-count.col.s6.content-right#PTH-legends
          p.content-center House of Representatives
        .col.s4
          .candidate-count.col.s6.content-center#RGH-canvas
          .candidate-count.col.s6.content-right#RGH-legends
          p.content-center State and Region Assemblies
