extends ../layout

block content
  .row
    .col.s4
      .collection.state-list
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Ayeyarwady
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Bago
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Chin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kachin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kayah
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Kayin
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Magway
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Mandalay
        a.collection-item.state-list-item.waves-effect.waves-teal.active
          | Mon
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Naypyitaw  Council
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Rakhine
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Sagaing
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Shan
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Tanintharyi
        a.collection-item.state-list-item.waves-effect.waves-teal
          | Yangon

    .col.s8
      nav
        .nav-wrapper
          .col.offset-s4.s4#state_map_label
          
      .row
        .col.s6
          #state_map
        .col.s4
          #legislature_counts
            .row
              .candidate-count.col.s12.content-center
                .stat-count.circle.red 
                  .circle_inner
                    .circle_wrapper
                      .circle_content#AMH-total-count 129
               p.content-center အမျိုးသားလွှတ်တော်
            .row
              .candidate-count.col.s12.content-center
                .stat-count.circle.blue
                  .circle_inner
                    .circle_wrapper
                      .circle_content#PTH-total-count 314
                p.content-center ပြည်သူ့လွှတ်တော်
            .row
              .candidate-count.col.s12.content-center
                .stat-count.circle.green 
                  .circle_inner
                    .circle_wrapper
                      .circle_content#RGH-total-count 642
                p.content-center တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်

      .row
        #state-details



