extends ../layout
block content
  .container
    nav.blue-grey.darken-2
      .nav-wrapper.content-center
        a.center 2010 Election Winning Statistics
    .row
      .col.s12
        .card-panel
          h2.panel-title Winners By Party / Parliament
          .row
            .col.s12.content-center
              canvas#winnerpartycount-canvas(height="300px", width="800px")
            .col.s12
              #winnerparty-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Votes By Party / Parliament
          .row
            .col.s12.content-center
              canvas#votespartycount-canvas(height="300px", width="800px")
            .col.s12
              #votesparty-legend.horizontal-legend

      .col.s12
        .card-panel
          h2.panel-title Winners Counts By State / Region
          .row
            .col.s12.content-center
              canvas#winnerstatecount-canvas(height="300px", width="800px")
            .col.s12
              #winnerstate-legend.horizontal-legend