extends ../layout
block content
  .container
    nav
      .nav-wrapper
        p.center.white-text The current data are 2010 Election results from myanmarelections.org.
    .row
      .col.s12
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Seats Won — Party / Parliament
            canvas#winnerpartycount-canvas(height="300px", width="800px")

      .col.s12
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Accrued Votes — Party / Parliament
            canvas#votespartycount-canvas(height="300px", width="800px")

      .col.s12
        .card.blue-grey.darken-1
          .card-content.center.white-text
            span.card-title Seats Won — State / Region
            canvas#winnerstatecount-canvas(height="300px", width="800px")