extends ../layout

block seo
  meta(name="description", content="Analytics over 2010, 2012 Myanmar elections results, including Vote counts and Voters counts over State, Region, Party, Parliament and Population situration.")
  meta(name="keywords", content="Myanmar Election 2010, Myanmar Election 2012, Myanmar Election Results, Voters Counts, Vote Counts, Analytics, Virtualization")

block style
  style.
    .content-center {
      margin: 0 10px;
      position: relative;
    }

block content
  .row
    .col.s3
      .card
        .card-action
          h5 Election Results
        .card-content
          p The current data are from 2010 elections results taken from myanmarelections.org. While the data is not entirely accurate, we can see some interesting facts from those data.
          br
          p For example, while NDF had more accumulated votes than ethnic parties such as SNDP and RNDP, it won fewer seats in both houses.
          br
          p And also note that votes cast for each legislature are higher than eligible voters (census population) which may reflect the claim it is fraudulent.

    .col.s9
      .card
        .card-action
          h5 Winners Counts By State / Region
        .card-content
          .content-center
            canvas#winnerstatecount-canvas(height="300px", width="800px")
            #winnerstate-legend.horizontal-legend
  .row
    .col.s7
      .card.cyan.white-text
        .card-action.cyan.darken-2
          h5 Winners By Party / Parliament
        .card-content
          .content-center
            canvas#winnerpartycount-canvas
            #winnerparty-legend.horizontal-legend

    .col.s5
      .card.blue-grey.darken-2.white-text
        .card-action.blue-grey.darken-4
          h5 Voters Count — Region
        .card-content
          .content-center
            canvas#statevoterscount-canvas(height="300px", width="400px")
  .row
    .col.s7
      .card.green.white-text
        .card-action.green.darken-2
          h5 Votes By Party / Parliament
        .card-content
          .content-center
            canvas#votespartycount-canvas(height="300px", width="800px")
            #votesparty-legend.horizontal-legend

    .col.s5
      .card.indigo.white-text
        .card-action.indigo.darken-2
          h5 Voters Count – States
        .card-content
          .content-center
            canvas#regionvoterscount-canvas(height="300px", width="400px")