<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Lower House">
        <md-content class="md-padding" layout="row" layout-wrap width="100%">
          <candidate-card ng-repeat="candidate in candidates.candidates" candidate="candidate">
          </candidate-card>
        </md-content>
      </md-tab>
      <md-tab label="Upper House">
        <md-content class="md-padding">
          <h1 class="md-display-2">Upper House</h1>
          <p>This is Upper House</p>
        </md-content>
      </md-tab>
      <md-tab label="State/Region Parliament">
        <md-content class="md-padding">
          <h1 class="md-display-2">State/Region Parliament</h1>
          <p>This is state/region parliament</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>