<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Lower House">
        <md-content class="md-padding" layout="row" layout-wrap width="100%">
          <md-card ng-repeat="candidate in candidates.candidates" flex="15">
               <img ng-src="{{candidate.photo_url}}" class="md-card-image" alt="Washed Out">
               <md-card-content>
                 <h2 class="md-title">{{candidate.name}}</h2>
                 <p>
                   Some Content
                 </p>
               </md-card-content>
               <div class="md-actions" layout="row" layout-align="end center">
                 <md-button>{{candidate.legislature}}</md-button>
                 <md-button>{{canidate.party.name}}</md-button>
               </div>
          </md-card>
        </md-content>
      </md-tab>
      <md-tab label="Upper House">
        <md-content class="md-padding">
          <h1 class="md-display-2">Upper House</h1>
          <p>This is Upper House</p>
        </md-content>
      </md-tab>
      <md-tab label="State/Region Parliament">
        <md-content class="md-padding">
          <h1 class="md-display-2">State/Region Parliament</h1>
          <p>This is state/region parliament</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>