<md-card>
 <img src="card-image.png" class="md-card-image" alt="image caption">
 <md-card-content>
   <h2>{{partyDetail.party.party_name}}</h2>
   <p>Card content</p>
 </md-card-content>
 <div class="md-actions" layout="row" layout-align="end center">
    <md-button ui-sref="party.candidates">View Candidates</md-button>
  </div>
 <md-card-footer>
   Card footer
 </md-card-footer>
</md-card>

<md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3">
  <md-grid-tile ng-repeat="candidate in partyCandidates.candidates">
    <md-grid-tile-header>
      <h3>{{ candidate.name }}</h3>
    </md-grid-tile-header>
  </md-grid-tile>
</md-grid-list>